<div class="content" role="main">

  <div><a (click)="addMarker()">Add marker</a> | <a (click)="zoomToFit()">Zoom to fit all trains</a></div>

  <google-map
    #googleMap
    id="map"
    height="700px"
    width="700px"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label"
      [title]="marker.title"
      [options]="marker.options"
    >
    </map-marker>

  </google-map>

</div>

<div *ngFor="let train of trainLocations()" class="highlight-card">
  {{train.id}} - {{train.name}} to {{train.destination}} with speed {{train.speed}} Km/h [{{train.coordinates.lon}}, {{train.coordinates.lat}}]
</div>
