<div class="content" [hidden]="!(authenticated() && hasUserDetails())">
  <div class="card">
    User details
  </div>
  <div class="card highlight-card">
    <ul>
      <li>User name: {{userDetails.username}}</li>
      <li>First name: {{userDetails.firstname}}</li>
      <li>Last name: {{userDetails.lastname}}</li>
      <li>User email: {{userDetails.email}}</li>
    </ul>
  </div>
</div>

<div [hidden]="!hasError()">
  <div>Error loading user details</div>
  <span>{{error}}</span>
</div>
<div [hidden]="authenticated()">
  <p>Login to see your user details</p>
</div>

